@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC POC</h1>
    <p class="lead">This site contains POCs before I apply them to real application</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Autocomplete with Bootstrap + TextInput</h2>
        <p>
            Using ajax to pull data source from the server, add existing / new topics into a form. Then to remove topics selected.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("BootstrapAutocomplete")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Autocomplete with Bootstrap + ComboBox</h2>
        <p>
            Using ajax to pull data source from the server, add existing topics into a form. Then to remove topics selected.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("BootstrapAutocompleteComboBox")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Change language/culture with Resource files</h2>
        <p>
            Use Resource files to define text for user interface based on the user selected/prefered languages set in browser.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("MultiLanguages", "MultiLanguages")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get remote content via JavaScript</h2>
        <p>
            Use of a Cors-proxy (if the destination API doesn't allow CROS). Use JavaScript to get remote content and added into current page
        </p>
        <p><a class="btn btn-default" href="@Url.Action("LoadRemotePage", "LoadRemotePageWithJs")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Form validation client side/server side</h2>
        <p>
            Use of jQuery validate library for client side validation. Also perform server side validation. Error messages are defined in C# model object via data annotation attributes.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("CreateProduct", "FormValidation")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
    </div>
</div>
