@{
    ViewBag.Title = "GetForm";
}

@model PocAspNetMvc.Models.ProductViewModel

<div class="page-header">
    <h2>Create new product</h2>
    <small>Use of this page for testing validation only</small>
</div>

<form method="post">
    <div>
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Details)
        @Html.TextAreaFor(m => m.Details, new { @class = "form-control", rows = 5 })
    </div>

    <div>
        <button type="submit" class="btn btn-primary">
            Save Now
        </button>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
